body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    /* Blanco */
    padding: 0;
    margin: 0;
}

/* Estilos para el Navbar */
.navbar {
    background-color: black;
    width: 100%;
    z-index: 999;
    height: auto;
    border-bottom: 1px solid #e55b00;
}


.navbar-light .navbar-brand {
    color: #261E15;
    /* Color del texto del logo */
}

.navbar-light .navbar-brand:hover {
    color: #FF6700;
    /* Color del logo al pasar el mouse */
}

.navbar-logo {
    max-height: 100px;
    /* Aumentar altura del logo */
    width: auto;
    /* Mantener la relación de aspecto */
}

.container {
    justify-content: center !important;
    gap: 153px !important;
}

/* Botón de "Comprar" */
.btn-primary {
    /* background-color: #FF6700; */
    /* Color de fondo del botón */
    /* border-color: #FF6700; */
    /* Color del borde del botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra del botón */
    /* border-radius: 50px; */
    /* Bordes redondeados */
    /* color: #FFFFFF; */
    /* Blanco */
    /* transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; */
    /* Transiciones suaves */
}

a.btn.btn-primary.ms-3 {
    width: 100% !important;
    max-width: 141px !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.btn-primary:hover {
    background-color: #e55b00;
    /* Color de fondo del botón al pasar el mouse */
    border-color: #e55b00;
    /* Color del borde del botón al pasar el mouse */
}

.title_prin {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto !important;
    padding-top: 20px !important;

}

h2.text-center {
    font-size: 2.1rem !important;
    font-weight: bold !important;
    color: #000000 !important;
}

.btn-primary:focus,
.btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 103, 0, 0.5);
    /* Sombra de enfoque */
}

/* Hero Section */

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 30, 21, 0.7);
    /* Filtro oscuro */
    filter: blur(4px);
    z-index: 1;
}


/* Estilo del contenedor del slider de imágenes */
.image-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-slider-inner {
    display: flex;
    transition: transform 1s ease-in-out;
}

.image-slider-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 822px;
    margin: 0 auto;
}

img.img-fluid {
    width: 100%;
    max-width: 450px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
   
}

.parrafo-premios{
    padding-top: 35px;
    margin: 0px !important;
    font-size: 2.3rem !important;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.title_prin {
    position: relative;
}

.title_prin {
    position: relative;
}

.title_prin::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;

}

.title_prin .highlight {
    background-color: #FF6700;
    padding: 5px 5px;
    color: white;
    border-radius: 15px;
}

.btn-success{
    background-color: #e55b00 !important;
}

.btn-primary:hover {
    background-color: #261E15;
    /* Marrón oscuro */
    border-color: #261E15;
    /* Marrón oscuro */
}


a.navbar-brand {
    background: white;
    padding: 17px;
    border-radius: 50%;
}

.raffle-info p {
    color: #000000;
}

i.highlight{
    background-color: #FF6700;
    padding: 2px 5px;
    color: white;
    border-radius: 15px;
}

button#btnDeseameSuerte{
    background-color: #FF6700 !important;
    color: #fff !important;
    font-weight: 500 !important;
}
/* Estilos para las card de premios */

.card {
    border: 2px solid #e55b00 !important; /* Borde dorado */
    border-radius: 10px; /* Esquinas redondeadas */
    position: relative; /* Posición relativa para pseudo-elemento */
    overflow: hidden; /* Oculta el overflow del pseudo-elemento animado */
    transition: all 0.3s ease !important; /* Transición suave */
}

.card::before {
    content: ''; /* Contenido vacío para el pseudo-elemento */
    position: absolute; /* Posición absoluta */
    top: 0;
    left: -100%; /* Inicia fuera del límite izquierdo */
    width: 100%; /* Ancho inicial del pseudo-elemento */
    height: 100%; /* Altura del pseudo-elemento igual a la tarjeta */
    background-color: #e55b00; /* Color de fondo con transparencia */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    transition: left 0.8s ease; /* Animación de movimiento de izquierda a derecha */
}

.card:hover::before {
    left: 0; /* Muestra completamente el pseudo-elemento al pasar el ratón */
}

.card:hover {
    transform: translateY(-5px) !important; /* Efecto de levantar la tarjeta al pasar el ratón */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1) !important; /* Sombra al levantar */
    border-color: #000000 !important; /* Cambio de color del borde al pasar el ratón */
}

.card-title {
    color: #000000 !important; /* Color dorado para el título */
    font-weight: bold !important; /* Texto en negrita */
    transition: color 0.3s ease !important; /* Transición suave para el cambio de color */
}


.card-body{
    cursor: pointer;
}

.card-text{
    color: #000000 !important;
}


.card:hover .card-tex{
    color: #ffffff !important; /* Color de texto más oscuro */
    font-size: 16px !important;
}

/* Estilo del contenido en el hero */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    /* Margen inferior */
}

.hero .btn-primary {
    padding: 12px 24px;
    /* Tamaño del botón */
    font-size: 1.2rem;
    /* Tamaño de la fuente */
    z-index: 2;
    /* Asegura que el botón esté sobre el degradado */
}

.hero .btn-primary:hover {
    background-color: #261E15;
    /* Marrón oscuro */
    border-color: #261E15;
    /* Marrón oscuro */
}

/* Información de la Rifa */
.raffle-info {
    border-radius: 1rem;
    color: #FFFFFF;
    padding-top: 38px;
}

p.text-center.mt-4 {
    font-size: 20px !important;
    color: #ffffff;
    font-weight: 400;
}

div#carouselExampleControls {
    background-image: url(../img/bg.png);
}

b.fecha {
    color: #e55b00;
}

.raffle-info h2 {
    font-size: 2.5rem;
    /* Tamaño de fuente grande */
    font-weight: bold;
    /* Negrita */
    color: #261E15;
    /* Marrón oscuro para el título */
    margin-bottom: 2rem;
    /* Espacio debajo del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra en el texto */
}

/* Estilo de las tarjetas de premios */
.raffle-info .card {
    background-color: #FFFFFF;
    /* Fondo blanco */
    border: 2px solid #FF6700;
    /* Borde naranja */
    border-radius: 1rem;
    /* Bordes redondeados */
    transition: all 0.3s ease-in-out;
    /* Transición suave */
}

/* Efecto hover para las tarjetas de premios */
.raffle-info .card:hover {
    transform: translateY(-15px);
    /* Levanta la tarjeta */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Sombra más prominente */
    border-color: #261E15;
    /* Borde marrón oscuro */
}

/* Estilo del título en las tarjetas de premios */
.raffle-info .card-title {  
    font-size: 1.36rem !important;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Negrita */
    margin-bottom: 1rem;
    /* Espacio debajo del título */
}

/* Estilo del texto en las tarjetas de premios */
.raffle-info .card-text {
    color: #261E15;
    /* Marrón oscuro para el texto */
    font-size: 1rem;
    /* Tamaño de fuente estándar */
}

/* Estilo del botón de compra de boleto */
.raffle-info .btn-success {
    background-color: #000000;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 2rem;
    transition: all 0.4s ease-in-out;
}

/* Efecto hover para el botón de compra de boleto */
.raffle-info .btn-success:hover {
    background-color: #e55b00;
    border-color: #261E15;
    color: #FFFFFF;
}

/* Texto para la fecha del sorteo y valor de la boleta */
.raffle-info p {
    font-size: 1.125rem;
    /* Tamaño de fuente grande */
    color: #000000;
    /* Texto blanco */
  
}

div > p.tan-solo{
    background-color: #000000;

}

.available-number {
    background-color: #f0f8ff;
    border: 1px solid #ced4da;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 28px;
    color: #333;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Para el pseudo-elemento */
}

.available-number:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.available-number:active {
    background-color: #cce5ff;
    color: #003d80;
}

/* Estilos para el número vendido */
.sold-number {
    background-color: #dcdcdc;
    color: #999;
    cursor: not-allowed;
    position: relative;
}

.sold-number::after {
    content: "X";
    color: #FF6700;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    transform: translate(-50%, -50%);
}


.selected-number{
    background-color: #00b34b;
    color: #fff;
}

#ticketNumber {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacio entre los números */
}



/* Estilos generales para la paginación */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

/* Estilo de Botones de Pagina Suaves */
.pagination .page-link {
    background-color: #6c757d;
    /* Gris */
    border: 1px solid #6c757d;
    /* Gris */
    color: #fff;
    /* Blanco */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: 600;
    /* Negrita */
    border-radius: 50px;
    /* Bordes redondeados */
    padding: 10px 15px;
    /* Espaciado dentro del botón */
    margin: 0 5px;
    /* Espaciado entre botones */
    text-align: center;
    /* Alinear texto en el centro */
    font-size: 0.9rem;
    /* Tamaño de fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    cursor: pointer;
    /* Puntero al pasar por encima */
}


/* Efecto hover en botones de paginación */
.pagination .page-link:hover {
    background-color: #5a6268;
    /* Gris oscuro */
    border-color: #5a6268;
    /* Gris oscuro */
    color: #fff;
    /* Blanco */
    transform: scale(1.05);
    /* Aumento de tamaño al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más visible */
}

/* Efecto activo en botones de paginación */
.pagination .page-item.active .page-link {
    background-color: #343a40;
    /* Gris muy oscuro */
    border-color: #343a40;
    /* Gris muy oscuro */
    color: #fff;
    /* Blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más visible */
}

/* Efecto hover en botones de paginación activos */
.pagination .page-item.active .page-link:hover {
    background-color: #343a40;
    /* Gris muy oscuro */
    border-color: #343a40;
    /* Gris muy oscuro */
    color: #fff;
    /* Blanco */
}

/* Estilos para los botones de paginación deshabilitados */
.pagination .page-item.disabled .page-link {
    background-color: #E0E0E0;
    /* Gris claro */
    border-color: #E0E0E0;
    /* Gris claro */
    color: #B0B0B0;
    /* Gris oscuro */
    cursor: not-allowed;
    /* Cursor no permitido */
}

/* boton de */
.pay-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00b34b; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */

    /* Estilos adicionales para efecto hover */
    transition: background-color 0.3s, transform 0.2s;
}

.pay-button:hover {
    background-color: #45a049; /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px); /* Efecto de levantamiento */
}

/* MODAL */
.modal-header{
    padding: 15px !important;
}



/* Definir la animación de deslizamiento */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Aplicar la animación al modal cuando se muestra */
.modal.slide-in-left .modal-dialog {
    animation: slideInLeft 0.5s forwards;
}




.footer {
    background: #000000;
    /* Marrón oscuro */
    color: #FFFFFF;
    /* Blanco */
    padding: 20px 0;
}

.footer a {
    color: #FFFFFF;
    /* Blanco */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.btn-primary,
.btn-success {
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #FF6700;
    /* Naranja */
}

.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 4rem;
        /* Tamaño del texto para pantallas grandes */
    }

    .hero p {
        font-size: 1.8rem;
        /* Tamaño del texto para pantallas grandes */
    }

    .hero .btn-primary {
        font-size: 1.5rem;
        /* Tamaño de fuente para pantallas grandes */
    }

}

@media (max-width: 768px) {

    .container {
        gap: 3px !important;
        padding: 10px;
    }

    h2.text-center {
        font-size: 1.7rem !important;
    }

    .title_prin .highlight{
        padding: 1px 3px;
    }

    .carousel-control-prev::before{
        content: '\2039'; /* Código Unicode para la flecha hacia la izquierda */
        font-size: 60px; /* Tamaño del ícono */
        color: #e55b00; /* Color del ícono */
        position: absolute; /* Posición absoluta para superponerlo en el botón */
        top: -201px; /* Centra verticalmente */
        left: 10px; /* Ajuste para alinear a la izquierda del botón */
        transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    }

    .carousel-control-prev {
        position: relative; /* Posición relativa para que el before sea posicionado correctamente */
        padding-left: 30px; /* Ajuste para que el texto no se superponga con el ícono */
       
    }

    .carousel-control-next::before {
        content: '\203A'; /* Código Unicode para la flecha hacia la derecha */
        font-size: 60px; /* Tamaño del ícono */
        color: #e55b00; /* Color del ícono */
        position: absolute; /* Posición absoluta para superponerlo en el botón */
        top: -201px; /* Centra verticalmente */
        right: 10px; /* Ajuste para alinear a la derecha del botón */
        transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    }

    .carousel-control-next {
        position: relative; /* Posición relativa para que el before sea posicionado correctamente */
        padding-right: 30px; /* Ajuste para que el texto no se superponga con el ícono */
       
    }

    .carousel-control-next, .carousel-control-prev{
        width: 100% !important;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 0px !important;
    }

    div#carouselExampleControls{
        background-image: none;
    }
}

